/* @use "bootstrap/scss/functions";

@use "bootstrap/scss/variables";
@use "bootstrap/scss/mixins";

@use "bootstrap/scss/maps";
@use "bootstrap/scss/utilities";
@use "sass:map";


// I installed sass-embedded for this 
// npm install -D sass-embedded
$utilities: map.merge($utilities,
        ("width": map.merge(map.get($utilities, "width"),
                (values: map.merge(map.get(map.get($utilities, "width"), "values"),
                        (45: 45%),
                    ),
                ),
            ),
        )); */